{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<div>
    <div>
        <p>This is the Dashboard page</p>
    </div>

    <!-- ---------------- SALES PER PRODUCT ---------------- -->
    <div>
        <h2>Sales per Product</h2>
        <table id="salesProductTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Total Sold</th>
                </tr>
            </thead>
            <tbody>
                {% for product, total in sales_per_product %}
                <tr>
                    <td>{{ product }}</td>
                    <td>{{ total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- ---------------- SALES PER DAY ---------------- -->
    <div>
        <h2>Sales per Day</h2>
        <table id="salesDayTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total Sold</th>
                </tr>
            </thead>
            <tbody>
                {% for date, total in sales_per_day %}
                <tr>
                    <td>{{ date }}</td>
                    <td>{{ total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- ---------------- PROFIT PER PRODUCT ---------------- -->
    <div>
        <h2>Profit per Product</h2>
        <table id="profitProductTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                {% for product, profit in profit_per_product %}
                <tr>
                    <td>{{ product }}</td>
                    <td>{{ profit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- ---------------- PROFIT PER DAY ---------------- -->
    <div>
        <h2>Profit per Day</h2>
        <table id="profitDayTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                {% for date, profit in profit_per_day %}
                <tr>
                    <td>{{ date }}</td>
                    <td>{{ profit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
